# Core
streamlit==1.51.0
pandas==2.3.3
numpy==2.3.5

# Visualization
altair==5.5.0
matplotlib==3.10.7
plotly==6.5.0
# Computation
scipy==1.16.3
scikit-learn==1.7.2

# Data IO
openpyxl==3.1.5
pyarrow==21.0.0
pyyaml==6.0.3

# Authentication
bcrypt==5.0.0

